@import '../../../colors.scss';

/*Home*/
h1 {
  img {
    filter: contrast(0) brightness(2);
  }
}

.box {
  width: 60%;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;

  .provider {
    width: 100%;
    display: block;
    padding: 10px 0;
    max-width: 400px;
    margin: 5px auto;
    text-align: center;
    border-radius: 10px;
    border: 1px $light solid;
    text-underline-offset: 0.25rem;
    text-decoration: underline dotted;
  
    z-index: 0;
    cursor: pointer;
    position: relative;
  
    &:before {
      top: -2px;
      left: -2px;
      opacity: 0;
      content: '';
      z-index: -1;
      filter: blur(5px);
      position: absolute;
      border-radius: 10px;
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      transition: opacity .3s ease-in-out;
      animation: glowing 20s linear infinite;
      background: linear-gradient(45deg, $turquoise 0%, $magenta 50%, $turquoise 100%);
    }
  
    &:hover:before {
      opacity: 1;
    }
  
    &:after {
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px;
      background: #1E1E1E;
    }
  
    a {
      border: none;
      height: 45px;
      color: $white;
      font-size: 20px;
      border-radius: 10px;
    }
  }
  
  form {
    padding: 0;
    height: 45px;
    display: block;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    letter-spacing: normal;
    border: 1px $light solid;
    background: radial-gradient(circle, rgba(25,25,62,1) 0%, rgba(15,16,20,1) 100%);
  
    z-index: 0;
    cursor: pointer;
    position: relative;
  
    &:before {
      top: -2px;
      left: -2px;
      opacity: 0;
      content: '';
      z-index: -1;
      filter: blur(5px);
      position: absolute;
      border-radius: 10px;
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      transition: opacity .3s ease-in-out;
      animation: glowing 20s linear infinite;
      background: linear-gradient(45deg, $turquoise 0%, $magenta 50%, $turquoise 100%);
    }
  
    &:hover:before {
      opacity: 1;
    }
  
    &:after {
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px;
      background: #1E1E1E;
    }
  
    input {
      margin: 0;
      border: none;
      color: $white;
      padding: 10.5px;
      font-size: 20px;
      width: calc(100% - 70px);
      background-color: $trans;
      font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
  
      &::placeholder {
        color: $light;
      }
    }
  
    button {
      margin: 5px;
      width: 35px;
      height: 35px;
      border: none;
      color: $white;
      font-size: 15px;
      transition: 250ms;
      text-align: center;
      border-radius: 5px;
      vertical-align: middle;
      background-color: $blue;
      transform: translateY(-2px);
  
      &:hover {
        color: $black;
        transition: 250ms;
        background-color: $white;
      }
    }
  }

  .data {
    h2 {
      margin-top: 15px;
      margin-bottom: 5px;
    }

    table {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: solid $light 1px;

      tr {
        padding: 10px;
        margin: 10px 0;

        td {
          width: calc(50% - 10px);
          float: left;
          text-align: right;

          &:nth-child(even) {
            float: right;
            text-align: left;
          }

          input {
            width: calc(100% - 10px);
            border: none;
            color: $white;
            font-size: 18px;
            background-color: $trans;
          }
        }
      }
    }

    .map {
      font-size: 11px;
      aspect-ratio: 3/2;
      text-align: center;
      border-radius: 10px;
      background-color: $dark;
      margin: 0 auto 18px auto;
      border: solid $light 1px;
    }
  }

  .message {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    letter-spacing: normal;
  }
  
  .succ {
    border: 1px $green solid;
    background-color: $greenen;
  }
  
  .fail {
    border: 1px $red solid;
    background-color: $reden;
  }
}

@media (max-width: 800px) {
  .box {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .box {
    width: 100%;
    margin: 0 auto;
  }
}
